language: node_js
node_js: '5'
sudo: false
cache: false
before_script:
- npm install -g gulp
- gem install scss_lint -v 0.38.0
script:
- npm run build
after_success:
- |
  if [ "$TRAVIS_BRANCH" = "master" ]; then
    git config credential.helper "store --file=.git/credentials"
    echo "https://${GH_TOKEN}:@github.com" > .git/credentials
    git config --global user.name "Grommet Community Bot"
    git config --global user.email "asouza@hp.com"
    gulp release:stable
  fi
